.containerHeader {
  align-items: center;
  background-color: #8f23cd;
  border-radius: 20px;
  display: flex;
  height: 10%;
  justify-content: space-between;
  margin-bottom: 15%;
  padding: 0 2rem;
  width: 90%;
}

.logo h1 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.logo span {
  color: #3cf5a8;
  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}

.login {
  align-items: center;
  color: white;
  display: flex;
  gap: 1rem;
}