*{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form {
  align-items: center;
  background-color: #00BCC9;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  margin-bottom: 2rem;
  padding: 0 2rem;
  width: 60%;
}

.form label {
  font-size: 1.7rem;
}

.form input {
  text-align: center;
  background-color: #e9e9ed;
  border: none;
  border-radius: 5px;
  color: #F8991D;
  font-size: 1.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  outline: none;
  padding-left: 1rem;
  width: 200px;
}

.form input:hover {
  background-color: #3cf5a8;
  color: gray;
}

/* style for select */
.form select {
  border: none;
  border-radius: 5px;
  color: gray;
  font-size: 1.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  outline: none;
  text-align: center;
  width: 200px;
}

.form select:hover {
  background-color: #3cf5a8;
  color: gray;
}

/* style for button */
.form button {
  background-color: #e9e9ed;
  border: none;
  border-radius: 0.5rem;
  color: gray;
  cursor: pointer;
  font-size: 1.7rem;
  outline: none;
  padding: 0.5rem 1rem;
}

/* style for button:active */
.form button:active {
  background-color: #00BCC9;
}

/* style for button:focus */
.form button:focus {
  background-color: #A332B3;
  color: white;
}

/* style for button:hover */
.form button:hover {
  background-color: #7ED321;
  color: white;
}